  
<mat-card class="persona-table-wrapper">
  <mat-card-title class="persona-table-wrapper__header">
    <p *ngIf="!isShowFilterInput" class="persona-table-wrapper__title">Persona List</p>
    <button mat-button (click)="openDialog('Add',{})" mat-flat-button color="primary">Adicionar</button>

    <div *ngIf="isShowFilterInput" class="persona-table-wrapper__search">
      <div class="persona-table-wrapper__icon-wrapper">
        <mat-icon class="persona-table-wrapper__icon">search</mat-icon>
      </div>
      <input matInput class="persona-table-wrapper__search-input" (keyup)="applyFilter($event)">
      <button class="persona-table-wrapper__button" mat-mini-fab (click)="showFilterInput()">
        <mat-icon class="persona-table-wrapper__icon">close</mat-icon>
      </button>
    </div>
    <button class="persona-table-wrapper__button" mat-mini-fab (click)="showFilterInput()">
      <mat-icon class="persona-table-wrapper__icon">search</mat-icon>
    </button>
  </mat-card-title>
  <mat-card-content class="persona-table__content">
    <table class="persona-table__table" mat-table [dataSource]="dataSource">

      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th class="persona-table__table-checkbox" mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            color="primary"
            (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
            [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td class="persona-table__table-checkbox" mat-cell *matCellDef="let row">
          <mat-checkbox
            color="primary"
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)"
            [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- id Column -->
      <ng-container matColumnDef="id" >
        <th class="persona-table__table-header" mat-header-cell *matHeaderCellDef > id </th>
        <td class="persona-table__table-body" mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- nombres Column -->
      <ng-container matColumnDef="nombres">
        <th class="persona-table__table-header" mat-header-cell *matHeaderCellDef> nombres </th>
        <td class="persona-table__table-body" mat-cell *matCellDef="let element"> {{element.nombres}} </td>
      </ng-container>

      <!-- cedula Column -->
      <ng-container matColumnDef="cedula">
        <th class="persona-table__table-header" mat-header-cell *matHeaderCellDef> cedula </th>
        <td class="persona-table__table-body" mat-cell *matCellDef="let element"> {{element.cedula}} </td>
      </ng-container>

      <!-- correo Column -->
      <ng-container matColumnDef="correo">
        <th class="persona-table__table-header" mat-header-cell *matHeaderCellDef> correo </th>
        <td class="persona-table__table-body" mat-cell *matCellDef="let element"> {{element.correo}} </td>
      </ng-container>

      <!-- estado Column -->
      <ng-container matColumnDef="estado">
        <th class="persona-table__table-header" mat-header-cell *matHeaderCellDef> estado </th>
        <td class="persona-table__table-body" mat-cell *matCellDef="let element"> {{element.estado}} </td>
      </ng-container>

      <!-- Action Column -->
    <ng-container matColumnDef="operaciones">
      <th mat-header-cell *matHeaderCellDef> Operaciones </th>
      <td mat-cell *matCellDef="let element" class="action-link"> 
        <a (click)="openDialog('Editar',element)">Editar</a> | 
        <a (click)="openDialog('Eliminar',element)">Eliminar</a>  
      </td>
    </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          (click)="selection.toggle(row)">
      </tr>
    </table>
  </mat-card-content>
  <div class="pagination">
    <mat-paginator [pageSizeOptions]="[10, 15, 100]" showFirstLastButtons></mat-paginator>
  </div>
</mat-card>